@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 300;
    src: url('../fonts/poppins-v24-latin-300.eot');
    src: url('../fonts/poppins-v24-latin-300.eot?#iefix') format('embedded-opentype'),
        url('../fonts/poppins-v24-latin-300.woff2') format('woff2'),
        url('../fonts/poppins-v24-latin-300.woff') format('woff'),
        url('../fonts/poppins-v24-latin-300.ttf') format('truetype'),
        url('../fonts/poppins-v24-latin-300.svg#Poppins') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../fonts/poppins-v24-latin-regular.eot');
    src: url('../fonts/poppins-v24-latin-regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/poppins-v24-latin-regular.woff2') format('woff2'),
        url('../fonts/poppins-v24-latin-regular.woff') format('woff'),
        url('../fonts/poppins-v24-latin-regular.ttf') format('truetype'),
        url('../fonts/poppins-v24-latin-regular.svg#Poppins') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 600;
    src: url('../fonts/poppins-v24-latin-600.eot');
    src: url('../fonts/poppins-v24-latin-600.eot?#iefix') format('embedded-opentype'),
        url('../fonts/poppins-v24-latin-600.woff2') format('woff2'),
        url('../fonts/poppins-v24-latin-600.woff') format('woff'),
        url('../fonts/poppins-v24-latin-600.ttf') format('truetype'),
        url('../fonts/poppins-v24-latin-600.svg#Poppins') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Poppins';
    font-weight: 900;
    src: url('../fonts/poppins-v24-latin-900.eot');
    src: url('../fonts/poppins-v24-latin-900.eot?#iefix') format('embedded-opentype'),
        url('../fonts/poppins-v24-latin-900.woff2') format('woff2'),
        url('../fonts/poppins-v24-latin-900.woff') format('woff'),
        url('../fonts/poppins-v24-latin-900.ttf') format('truetype'),
        url('../fonts/poppins-v24-latin-900.svg#Poppins') format('svg');
}

:root {
    --color-brand-dark: #465929;
    --color-brand: #819b57;
    /*brand-light*/
    --color-text-wite: #faf4ea;
    /*primary-ligt */
    --color-test-brown: #31261a;
    /*primary-dark */
}

/* Base */
body {
    color: var(--color-test-brown);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
}

address {
    font-style: normal;
}

ul {
    list-style-type: none;
}

/* Button */

.button {
    color: var(--color-text-wite);
    font-weight: 600;
    background-color: var(--color-brand);
    border: 2px solid var(--color-brand);
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    color: var(--color-brand-dark);
    background-color: transparent;
}

/* Link */

.link {
    color: var(--color-text-wite);
    line-height: 1.5;
    text-decoration: none;
}

.link:hover {
    color: var(--color-brand);
    font-weight: 600;

}

/* Hero-sections */

.hero-title {
    color: var(--color-text-wite);
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 128px;
    line-height: 1.5;
}

.hero-title .accent {
    color: var(--color-brand);
}

/* Advantages-sections */

.advantages-list {
    color: var(--color-text-wite);
    background-color: var(--color-brand);
}

.advantages-item {
    font-size: 20px;
    font-weight: 300;

}

.section-title {
    font-size: 64px;
    font-weight: 900;
    line-height: 1.3;
}

.section-title .accent {
    color: var(--color-brand-dark);
}

/*Traditions-section*/
.traditions-text .uppercase {
    color: var(--color-brand);
    text-transform: uppercase;
}

.traditions-text .brand {
    color: var(--color-brand);
    font-weight: 600;
}

/* Chefs section */
.chef-title {
    font-size: 40px;
    font-weight: 600;
}

/* Formats section */
.format-title {
    font-size: 24px;
    font-weight: 600;
}

.format-text {
    font-size: 14px;
    font-weight: 300;
}

/* Footer */
.address-link {
    color: var(--color-text-wite);
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
}

.address-link:hover {
    color: var(--color-brand);
}

.address-copyright {
    font-size: 14px;
}